.Homepage{
    background-color: rgb(227, 227, 255);
    height: 100vh;
    width: 100%;
    @media(max-width:767px){
        display: flex;
        flex-direction: column;
        // background-color: blue;
        height: 100vh;
        width: 100%;
    }
    .Homepage-one{
        height: fit-content;
        width: fit-content;
        color: rgb(60, 51, 185);
        font-size: 80px;
        font-weight: bolder;
        position: absolute;
        top: 20%;
        left: -20%;
        transition: left 0.5s ease-in-out;
        @media(max-width:(767px)){
            left: -60%;
            font-size: 60px;
            top: 35%;
        }
    }
    .Homepage-one-load{
        color: rgb(60, 51, 185);
        left:10%
    }
    .Homepage-two{
        height: fit-content;
        width: fit-content;
        color: rgb(5, 2, 49);
        font-size: 80px;
        font-weight: bolder;
        position: absolute;
        top: 32%;
        left: -30%;
        transition: left 1.5s ease-in-out;
        @media(max-width:(767px)){
            left: -100%;
            font-size: 60px;
            top: 40%;
        }
    }
    .Homepage-two-load{
        color: rgb(5, 2, 49);
        left:10%;
        @media(max-width:(767px)){
            left: 10%;
        }
    }
    .Homepage-three{
        height: 150px;
        width: 400px;
        color: rgb(50, 30, 233);
        text-align: left;
        position: absolute;
        top: 50%;
        left: 10%;
        @media (max-width:(767px)) {
            left: 10%;
            width: 80%;
            text-align: left;
        }
    }
    .home-btn{
        position: absolute;
        top: 70%;
        left: 10%;
        width: 300px;
        height: 50px;
        background-color:rgb(60, 51, 185); ;
        border: 1px solid rgb(227, 227, 255);
        color:white;
        font-size: 40px;
        border-radius:10px;
        @media (max-width:767px) {
            top: 70%;
            left: 10%;
        }
    }
    .logo{
        width: 100px;
        height: 100px;
        position:absolute;
        left: 61.7%;
        top:36%;
        // background-color: yellow;
        @media (max-width:767px) {
          top:20%;
          left: 30%;
        }
        .logo-one{
            width: 120px;
            height: 120px;
            opacity: 90%;
        }
    }
    .logo-name{
      height: fit-content;
      width: fit-content;
      position:absolute;
      top: 05%;
      left: 10%;
      font-size: 60px;
      font-weight: bold;
      .logo-name-one{
        color: rgb(60, 51, 185);
      }
    }
}
.radar {
    position: absolute;
    @media (max-width:767px) {
      top: 15%;
      left: 20%;
    }
    top:20%;
    left: 53%;
    width: 50vmin;
    height: 50vmin;
    background: repeating-radial-gradient(
          transparent,
          transparent 4.5%,
          rgb(50, 30, 233) 5%,
          transparent 5.5%
        )
        content-box,
      linear-gradient(
          transparent 49.7%,
          rgba(80, 255, 0, 0.2) 49.9%,
          rgba(80, 255, 0, 0.2) 50.1%,
          transparent 50.3%
        )
        content-box,
      linear-gradient(
          to right,
          transparent 49.7%,
          rgba(183, 0, 255, 0.2) 49.9%,
          rgba(80, 255, 0, 0.2) 50.1%,
          transparent 50.3%
        )
        content-box,
    //   radial-gradient(#002500, #000500) content-box,
      linear-gradient(to bottom right,rgb(227, 227, 255),rgb(227, 227, 255)) border-box;
    border: 2.5vmin solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    // filter: drop-shadow(1vmin 1vmin 1vmin rgba(0, 0, 0, 0.4));
  
    &::after {
      content: "";
      position: absolute;
      inset: 0;
    //   this is the scanner
      background-image: conic-gradient(transparent 20%, rgba(105, 170, 255, 0.35)); 
      border-radius: 50%;
      box-shadow: inset 0 0 2vmin rgb(227, 227, 255);
      animation: spin 2s linear infinite;
    }
  
    &__dot {
      position: absolute;
      width: 3%;
      height: 3%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      animation: blink 2s ease-out infinite;
  
      &:first-of-type {
        top: 24%;
        left: 76%;
        animation-delay: 0.25s;
      }
  
      &:nth-of-type(2) {
        top: 80%;
        left: 20%;
        animation-delay: 1.25s;
      }
  
      &:last-of-type {
        top: 36%;
        left: 36%;
        animation-delay: 1.75s;
      }
    }
  }
  
  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }
  
  @keyframes blink {
    2%,
    20% {
      background-color: rgba(0, 4, 255, 0.85);
      box-shadow: 0 0 1vmin rgba(255, 0, 0, 0.6);
    }
  
    90% {
      background-color: transparent;
    }
  }
  